@mixin crearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}
@mixin absCenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin respond($breackpoint) { 
     @if $breackpoint == phone {
        @media only screen and (max-width:37.5em){
            @content
        }
     }
     @if $breackpoint == tab-port {
        @media only screen and (max-width:56.25em){
            @content
        }
     }
     @if $breackpoint == tab-land {
        @media only screen and (max-width:75em){
            @content
        }
     }
     @if $breackpoint == big-desktop {
        @media only screen and (min-width:112.5em){
            @content
        }
     }
}

    